/* 1st part and common class  */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
.font-style{
font-family:Yeseva One;
}
.first-heading{
    border-left: 5px solid rgb(5, 133, 238);
    padding-left: 10px;
    padding-top: 0px;
    height: 150px;
}
.tomato-color{
    color: #FF5959;
}
section{
    margin-top: 40px;
}
.content-allignment{
    padding-left: 10%;
    padding-right: 10%;
}
.first-section{
    padding-left: 10%;
    
}
.half-width{
    width: 50%;
    
}
.half-width img{
    width: 70%;
    padding-left: 60px;
}
.flex-display{
    display: flex;
}
p{
    margin-bottom: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 162, 255),rgb(0, 238, 255));
    padding: 12px 60px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

/* 2nd part start (mission part) */
.center-heading{
    text-align: center;
    
}
.mission-item{
    border-radius: 5%;
    width:30%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 1px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 15px grey;
}
.mission-item img{
  display:inline;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1px;
}
#bg-color-mission{
    background-color:rgba(79, 157, 166, 0.1); 
}
#bg-color-vission{
    background-color:rgba(255, 89, 89, 0.1);
}
#bg-color-goal{
    background-color:#FFF4D6;
}

/* 3rd part start ( super ability) */
.third-part-width{
    width: 50%;
}
.third-part-width img{
    width: 70%;
    padding-top: 120px;
}

/* 4th part start ( community ) */
.fourth-part-width{
    width: 50%;
}
.fourth-part-width img{
    width: 70%;
    padding-top: 50px;
    margin-left: 100px;
    padding-left: 80px;
    padding-top: 130px;
}
.background-image{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 400px;
}

/* 5th part start , (extra part , form part ) */
.join-form {
    margin-left: 20%;
}
.input-box{
    
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  input[type=submit] {
    width: 100%;
    background-color: rgb(0, 238, 255);
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
   /* 5th part end */

  /* footer part start  */
  footer{
      background-color: black;
      color: rgb(255, 255, 255);
      text-align: center;
      height: 25vh;
      padding-top: 10px;
      margin-top: 10%;
  }

  /* special font for footer heading  */
  #special-font{
      font-family:'Times New Roman', Times, serif;
  }


 